/* Mixins
  =============== */

// Media query for mobile first layout 
@mixin small-breakpoint {
	@media (min-width: #{$mobile}) {
		@content;
	}
}

// Break on medium
@mixin medium-breakpoint {
	@media (min-width: #{$tablet}) {
		@content;
	}
}

// Break on desktop
@mixin large-breakpoint {
	@media (min-width: #{$desktop}) {
		@content;
	}
}

// Break on lg-desktop
@mixin x-large-breakpoint {
	@media (min-width: #{$lg-desktop}) {
		@content;
	}
}
