// ---- variables ----
$no-margin: 0px;
$no-padding: 0px;
$margin-sm: 18px;
$margin-md: 26px;
$margin-lg: 38px;

// ---- mixins ----
@mixin transition($transition-prop, $transition-time, $method) {
    -webkit-transition: $transition-prop $transition-time $method;
    -moz-transition: $transition-prop $transition-time $method;
    -ms-transition: $transition-prop $transition-time $method;
    -o-transition: $transition-prop $transition-time $method;
    transition: $transition-prop $transition-time $method;
}


// ---- generic ----
img {
    margin: $no-margin;
    padding: $no-padding;
}

h1, h2, h3, h4, h5, h6 {
    
}


ul, li {
    list-style: none;
    padding-left: $no-padding;
    margin-bottom: 0px;
}

.flex {
    display: flex;
    align-items: center;
}

.small-container {
    max-width: 980px;
}

// ---- button ---- 
button {
    width: 100%;
    @include medium-breakpoint {
        width: auto;
    }
}

// ---- all checkboxes ---- 
input[type='checkbox'] {
    display: none;
    + label {
        background: #fff;
        border: 1px solid #ccc;
        height: 18px;
        width: 18px;
        display:inline-block;
        padding: 0px;
        margin: 0;
        line-height: 16px;
        span {
            margin-left: 2em;
            font-weight: 400;
            display: block;
            width: max-content;
            width: -moz-max-content;
        }
    }
    &:checked + label {
        background-image: url('data:image/svg+xml; uft8, <svg xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8"><path fill="none" fill-rule="evenodd" stroke="#000" d="M0 3.865l3.096 2.883L9.494 0"/></svg>');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
    }
    
}

// ---- pre-header ---- 
header {
    padding: 18px 1rem;
    .flex-row {
        flex-direction: column;
        @include medium-breakpoint {
            flex-direction: row;
        }
    }
    .pre-header-left {
        flex: 4 0 auto;
        margin-bottom: $margin-sm;
        @include medium-breakpoint {
            margin-bottom: 0;
        }
        .logo {
            width: 74px; 
            margin-right: $margin-sm;
        }
        .strapline {
            width: 200px;
        }
    }
    .pre-header-right {
        flex: 1 0 auto;
        @include medium-breakpoint {
            margin-top: 8px;
        }
        .search {
            justify-content:flex-end;
            flex: 12 0 auto;
            input[type='text'] {
                background-color: $alternate-background;
                border: none;
                height: 44px;
                position: relative;
                &:before {
                    content: "/";
                    font-family: 'dk-publisher';
                    font-size: 12px;
                    width: 22px;
                    height: 22px;
                    position: absolute;
                    top: 0;
                    left: 0px;
                }
            }     
            @include medium-breakpoint {
                width: auto;
            }   
        }
        .cart {
            flex: 2 0 auto;
            justify-content: center;
            text-align: center;
            img {
                justify-content: center;
                width: 22px;
            }
        }
    }
}

// ---- toggle nav ---- 
#toggle-nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    float: right;
    padding-right: 1rem;
    @include medium-breakpoint {
        display: none;
    }
    &:before {
        content: "\e901";
        font-family: 'dk-publisher';
        font-size: 20px;
        width: 22px;
        height: auto;
        position: absolute;
        top: 0rem;
        right: 10px;
    }
    // .active {
    //     &:before {
    //         content: "\e903";
    //         font-family: 'dk-publisher';
    //         font-size: 20px;
    //         width: 22px;
    //         height: auto;
    //         position: absolute;
    //         top: 0rem;
    //     }
    // }
}

// ---- header ---- 
.navbar {
    display: none;
    border-top: 1px solid $accent-color;
    border-bottom: 1px solid $accent-color;
    margin-bottom: $margin-md;
    @include medium-breakpoint {
        display: block;
    }
    nav {
        ul {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-wrap: wrap;
            @include medium-breakpoint {
                flex-direction: row;
            } 
            li {
                text-transform: uppercase;
                font-weight: 500;
                padding: 15px 18px;
                &:hover,
                &:focus {
                    background-color: $alternate-color;
                    @include transition(background-color, .2s, linear);
                    color: #fff;
                }
                .arrow {
                    background: url('../images/favicon-32x32.png') no-repeat;
                    display: block;
                }
            }
            li:first-child {
                background-color: $alternate-background;
                position: relative;
                padding-right: 60px;
                &:before {
                    content: "\e900";
                    font-family: 'dk-publisher';
                    font-size: 12px;
                    width: 22px;
                    height: auto;
                    position: absolute;
                    top: 1.23rem;
                    right: 10px;
                }
                &:hover,
                &:focus {
                    background-color: darken($alternate-background, 20%);
                    color: $primary-color;
                    &:after {
                        color: #fff;
                    }
                }
            }
            li:nth-child(7) {
                border-right: 1px solid $accent-color;
            }

        }
    }
}

// ---- active class ---- 
.active {
    display: block;
}

// ---- breadcrumb ---- 
.breadcrumb {
    margin-bottom: $margin-md*2;
    ul {
        li{
          &:first-child {
              color: $secondary-color;
              margin-right: 4px;
              &:after {
                  content:'/';
                  padding-left: 4px;
                  color: $secondary-color;
              }
            } 
            &:last-child {
                font-weight: 500;
            }
        }
    }
}

// ---- body ----

// ---- introduction ---- 
.intro {
    margin-bottom: $margin-lg;
    @include medium-breakpoint {
        max-width: 80%;
    } 
}

// ---- form ---- 
#form-container {
    .input-list {
        .input-field {
            ul {
                li {
                    margin-bottom: $margin-sm;
                    input {
                        box-shadow: none;
                    }
                }
            }
        }
        .interest {
            border-bottom: 1px solid $accent-color;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: $margin-lg;
            margin-bottom: $margin-lg;
            ul[class^='interest-col-'] {
                li {
                    align-items: center;
                    padding-bottom: $margin-sm/2;
                    .error {
                        display: none;
                        color: $error;
                    }
                    .des {
                        line-height: 2px;
                        margin-left: 2em;
                    }
                }
                @include medium-breakpoint {
                    li:last-child {
                        padding-bottom: 0;
                    }
                } 
                &:last-child {
                    li:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        li.overage {
            margin-bottom: $margin-sm/2;
        }
        li.privacy,
        li.cta {
            margin-bottom: $margin-sm;
        }
    }
}

// form error
span[id$='error'] {
    color: $error;
    display: block;
}

// ---- embed font icons ---- 
@font-face {
    font-family: 'dk-publisher';
    src:  url('../fonts/dk-publisher.eot?44ns2v');
    src:  url('../fonts/dk-publisher.eot?44ns2v#iefix') format('embedded-opentype'),
      url('../fonts/dk-publisher.ttf?44ns2v') format('truetype'),
      url('../fonts/dk-publisher.woff?44ns2v') format('woff'),
      url('../fonts/dk-publisher.svg?44ns2v#dk-publisher') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], 
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dk-publisher' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px 50px 20px 20px;
        border: 1px solid #888;
        width: 80%; 
        position: relative;
        .close {
            position: absolute;
            top: 1.3rem;
            right: 3rem;
            &:before {
                content:'\e90d';
                font-family: 'dk-publisher';
                position: absolute;
                top: 0;
            }
        }
    }
}